<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<SourceFolder value="E:\software-warehouse\research-and-development\cms\sitecore\releases\Sitecore ECM + DM\"/>            	
	<DestinationFolder value="D:\DevSpace\SandBox\sitecore-workspace\sitecore-installer\test\"/>
    <Sitecore>
        <CmsZipFile value="Sitecore 7.1 rev. 140130.zip"/>
	    <DmsZipFile value="DMS 7.1 rev. 140130.zip"/>	
        <LicenseKeyFile value="E:\software-warehouse\research-and-development\cms\sitecore\releases\Sitecore ECM + DM\license.xml"/>
    </Sitecore>		    
    <IIS>
        <HostName value="sitecore.test.localhost"/>            
    </IIS>
   <connectionStrings>	  
	  <add name="core" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Core" />
	  <add name="master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Master" />
	  <add name="web" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Web" />
	</connectionStrings>
</configuration>